.newspaperOverlayCenter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newspaperOverlayContainer {
  width: 1280px;
  height: 700px;
  margin-bottom: 0%;
  padding: 2rem 3rem 0 3rem;
  box-sizing: border-box;
  color: #010101;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.newspaperOverlayContainer::-webkit-scrollbar {
  display: none;
}

.newspaperOverlayHeader {
  border-bottom: 1px solid #010101;
}

.newspaperOverlayMobileButton {
  width: fit-content;
  display: none;
}

.newspaperOverlayHeaderInfo {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #010101;
}

.newspaperOverlayHeader h3 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.newspaperOverlayHeader h2 {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  font-family: 'Didot';
  text-transform: uppercase;
  font-weight: 400;
}

.newspaperOverlayMain {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 55%;
}

.newspaperOverlayContent {
  grid-column: 1/3;
  overflow-y: auto;
  position: relative;
  padding-right: 2rem;

  scrollbar-width: auto;
  scrollbar-color: #828282 #d9d9d9;
}

.newspaperOverlayContent h3 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.newspaperOverlayContent ul {
  margin-top: 0;
  padding-left: 1.5rem;
}

.newspaperOverlayContent ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.newspaperOverlayContent h2 {
  margin: -0.5rem 0 1rem 0;
  font-size: 3rem;
  font-family: 'Didot';
  font-weight: 400;
}

.newspaperOverlayAside {
  flex: 1;
  border-left: #010101 solid 1px;
  overflow-y: auto;
}

.newspaperOverlayAside ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
  padding-left: 5rem;
}

.newspaperOverlayAside ul li {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.newspaperOverlayFooter {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #010101;
}

.newspaperOverlayBackpage {
  background-color: #d9d9d9;
  width: 1280px;
  height: 700px;
  position: absolute;
  transform: rotate(175deg);
  margin-top: -6.8rem;
  margin-left: -4rem;
  z-index: 0;
  padding: 3rem 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  user-select: none;
}

.newspaperOverlayContent::-webkit-scrollbar,
.newspaperOverlayAside::-webkit-scrollbar {
  width: 8px;
}

.newspaperOverlayContent::-webkit-scrollbar-track,
.newspaperOverlayAside::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.newspaperOverlayContent::-webkit-scrollbar-thumb,
.newspaperOverlayAside::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 10px;
  border: 3px solid #d9d9d9;
  width: 100%;
}

@media (max-width: 1536px) {
  .newspaperOverlayContainer {
    width: 1017px;
    height: 556px;
  }

  .newspaperOverlayHeader h2 {
    font-size: 3.2rem;
  }

  .newspaperOverlayMain {
    height: 50%;
    margin-top: 3.2rem;
  }

  .newspaperOverlayFooter {
    margin: 1rem 0;
  }

  .newspaperOverlayBackpage {
    width: 1017px;
    height: 556px;
    margin-top: -5.2rem;
    margin-left: -3.2rem;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .newspaperOverlayContainer {
    width: 100%;
    height: 75%;
  }

  .newspaperOverlayBackpage {
    width: 110%;
    margin-left: 0rem;
    height: 640px;
  }

  .newspaperOverlayAside ul {
    padding-left: 3em;
  }
}

@media (max-width: 640px) {
  .newspaperOverlayContainer {
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
  }
  .newspaperOverlayMobileButton {
    display: block;
  }

  .newspaperOverlayHeader h2 {
    font-size: 3rem;
  }

  .newspaperOverlayMain {
    grid-template-columns: repeat(1, 1fr);
  }

  .newspaperOverlayContent {
    padding: 0;
  }

  .newspaperOverlayContent h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .newspaperOverlayAside {
    margin-top: 1rem;
    padding: 2em 0 0 0;
    border-top: #010101 solid 1px;
    border-left: none;
  }

  .newspaperOverlayAside ul {
    padding: 1.5em;
    column-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .newspaperOverlayFooter {
    padding: 0;
  }
  .newspaperOverlayFooter * {
    display: none;
  }

  .newspaperOverlayContainer::-webkit-scrollbar {
    display: initial;
    width: 8px;
  }

  .newspaperOverlayContainer::-webkit-scrollbar-track {
    background: #d9d9d9;
  }

  .newspaperOverlayContainer::-webkit-scrollbar-thumb {
    background-color: #121212;
    border-radius: 10px;
    border: 3px solid #d9d9d9;
    width: 100%;
  }
}
@media (max-width: 340px) {
  .newspaperOverlayHeader h2 {
    font-size: 2rem;
  }

  .newspaperOverlayContent h2 {
    text-align: center;
    font-size: 2rem;
  }

  .newspaperOverlayAside ul {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    list-style-type: none;
  }
}
