.kioskContentOverlayCenter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  pointer-events: none;
}
.kioskContentOverlayContainer {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #fafafa;
  pointer-events: all;
  user-select: none;
  background-image: linear-gradient(
    to right,
    #00000000 0%,
    #000000c5 50%,
    #00000000
  );
  backdrop-filter: blur(5px);
}

.kioskContentOverlayItems {
  display: flex;
  justify-content: space-evenly;
  padding: 0 5rem;
}

.kioskContentOverlaySection {
  padding: 0 0.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
}

.lockedKioskContentOverlaySection {
  color: #787878;
  color: transparent;
  text-shadow: 0 0 0 #787878;
}

.kioskContentOverlaySelectedSection {
  background: #705b49a0;
}

.kioskContentOverlaySection h2 {
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0.5em;
}

.kioskContentOverlayBorder {
  display: block;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #00000000 0%,
    #cd9460a0 50%,
    #00000000
  );
  backdrop-filter: blur(5px);
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .kioskContentOverlayContainer {
    width: 700px;
  }

  .kioskContentOverlaySection h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .kioskContentOverlayContainer {
    width: 600px;
  }

  .kioskContentOverlaySection h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {
  .kioskContentOverlayContainer {
    width: 100%;
  }

  .kioskContentOverlaySection h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .kioskContentOverlaySection h2 {
    font-size: 1rem;
  }
}
