.loadingScreenContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #04060d66;
  color: #fafafa;
}

.loadingPaper {
  /* border: solid 1px #cd9460; */
  border-radius: 5px;
  max-width: 400px;
  max-height: 200px;
}

.loadingScreenProgress {
  user-select: none;
  color: #f0e6d1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 2; */
}

.loadingScreenProgress h2 {
  font-size: 3rem;
  margin: 0;
  width: max-content;
}

.loadingScreenProgress h3 {
  font-size: 5rem;
  margin: 0;
}
